/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Clicker+Script&family=Geologica:wght@100..900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300&display=swap");

/* Apply fonts to your product card */

.product-card {
  font-family: "Geologica", sans-serif; /* stars */
}
