@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Clicker+Script&family=Geologica:wght@100..900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
body {
  font-family: "Inter", sans-serif;
}
.title-font {
  font-family: "Playfair Display", serif;
}
.name-font {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
@import "tailwindcss";
